<div class="rodape">
  <div class="rodape-feed">
    <p>FeedBack's são sempre bem vindo, não acha? <br></p>
    <p>Sugestão de melhoria, me manda um email <br></p>
    <p>Entre em contato comigo e vamos conversar</p>

  </div>
  <div class="rodape-desc">
    <p>Este é meu primeiro projeto em Angular</p>
    <p>Usei o Angular Material e segui algumas aulas do curso da Udemy</p>
    <p>
      Estou em busca de uma oportunidade como desenvolvedor. <br>
      Caso tenha alguma sugestão de melhoria do meu projeto? Me avisa
    </p>
  </div>
  <div class="rodape-contato">
    <p><a href="https://github.com/caiodelbonne">Meu GitHub</a></p>
    <p><a href="https://www.linkedin.com/in/caiocesarbonne/">Linkedin</a></p>
  </div>
</div>
