<div class="hobby">
  <p>Tenho alguns hobbys,alguns por exemplo, jogar video game nos finais de semana & tenho o habito de estudar algo diferente sempre buscando evoluir profissionalmente <br>
    Atualmente estou estudando React,Angular e algumas linguagens de backend.
  </p>
  <p>Pratico musculação a 20 anos, é sem duvidas uma das coisas que eu mais gosto de fazer </p>
  <p>Gosto muito de viajar, em 2023 fui para a Argentina onde fiquei 7 dias conhecendo os pontos turisticos e desgutando das comidas locais</p>
  <p>Em 2024 fui para os EUA, onde fiquei 3 dias em Nova York, 3 dias em South Plainfield e 4 dias em Newark em New Jersey, foi uma viagem incrivel onde pela primeira vez viajei <b>sozinho</b></p>
</div>
