<app-header></app-header>
<app-line-menu subtitulo="faculdade"></app-line-menu>
<app-universidade></app-universidade>
<app-line-menu subtitulo="cursos"></app-line-menu>
<div class="cards-container">
  <app-curso curso="Udemy" descricao="Angular 14. Cursando" data="04/10/2024"></app-curso>
  <app-curso curso="Origamid" descricao="Web Design, UX/UI Design, HTML, CSS, JavaScript, TS e React" data="02/03/2021"></app-curso>
  <app-curso curso="One Bit code" href="https://cursos.onebitcode.com/" descricao="React style components" data="05/07/2024"></app-curso>
  <app-curso curso="Alura" descricao="Angular: conceito e manipulação - CRUD" data="05/09/2024"></app-curso>
  <app-curso curso="Alura" descricao="React com Typescript" data="05/08/2024"></app-curso>
  <app-curso curso="Alura" descricao="JavaScript consumindo e tratando dados de uma API" data="05/06/2024"></app-curso>
  <app-curso curso="Alura" descricao="Excel: manipulação, criação de Dashboard, fórmulas avançadas" data="02/03/2019"></app-curso>
  <app-curso curso="Alura" descricao="Power Bi:criação de Dashboard, fórmulas avançadas" data="02/05/2024"></app-curso>
</div>
<app-line-menu subtitulo="experiencia profissional"></app-line-menu>
<app-experiencia></app-experiencia>
<app-line-menu subtitulo="hobby"></app-line-menu>
<app-hobby></app-hobby>
<app-rodape></app-rodape>
