<div class="universidade">
  <div class="curso">
    <h2>Universidade Metodista de São Paulo</h2>
    <p><a href="https://metodista.br/graduacao-presencial/analise-e-desenvolvimento-de-sistemas" target="blank">Conheça o curso</a></p>
  </div>
  <div class="curso-desc">
    <h3>Analise e Desenvolvimento de Sistemas</h3>
    <p>Inicio: Fevereiro - 2016</p>
    <p>Termino: Dezembro - 2019</p>
  </div>
  <div class="ocurso">
    <p>Curso voltado a area de desenvolvimento e analise de dados.</p>
      <p>Aprendizagem: Java com polimorfismo, spring boot, swing JavaFX <br>
        front end: HTML,CSS. <br>
        Banco de dados: MySql criação de tabela, join e inner joins e conexão com backend. Analise de dados criação de fluxograma, utilização de BPMN
      </p>
  </div>
</div>
