.carousel-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30vh; /* Ajuste de altura */
  position: relative;
  overflow: hidden;
  background-color: rgba(34, 34, 34, 0.9); /* Fundo preto com 80% de opacidade */
  backdrop-filter: blur(5px); /* Adiciona um efeito de desfoque */
  color: #fff; /* Texto branco para contraste */
}

.carousel-slide {
  position: absolute;
  opacity: 0;
  transition: opacity 1s ease-in-out;
  text-align: center;
  border-radius: 10px; /* Bordas arredondadas para suavizar o design */
  padding: 20px; /* Espaçamento interno */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra suave para destacar o conteúdo */
}


.carousel-slide.active {
  opacity: 1;
}

h2, h3, p {
  margin: 0;
  padding: 10px;
  color: #ffffff;
}
